body{
    background-color: darkslategrey;
    font-family: Arial, sans-serif;    
}

#profile{
    color: white;
    text-align: center;
    margin-right: 42px;
    list-style-type: none;  
}

#profile img{
    border-radius: 25%;
}

#profile h2, p{
    text-align: center;
}

#profile li{
    display: inline;
    margin: 15px 15px 15px 15px;
}

#streak{
    background-color: white;
    border-radius: 10px;
    margin-top: 5px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 13px; 
    list-style-type: none;
}

div{
    color: #676767;
}

.active-day{
    color: #00CC00;
    display: inline;
    margin-right: 30px;
    padding: 5px;
    animation: pulse 2s infinite;
}
@keyframes pulse{
    0%{
            font-size: 100%;
    }
    50%{
            font-size: 200%;
            color: #00CC00;
    }
    100%{
            font-size: 100%;
    }
}
.inactive-day{
    color: #CCCCCC;
    display: inline;
   
    margin-right: 30px;
    padding: 5px;
}

#streak ul{
    margin-right: 10px;
}

#streak p{
    color: #676767;
    display: inline;
    flex-grow: 200;
    padding: 22px;
    margin-right: 8px;
}